/* Styles for AMNH scorpions website */
/* Website visual design and front-end development by Isadora Williams, copyright 2018 */

/* Typekit fonts need @import to show up in codepen and some browsers */
@import url("https://use.typekit.net/upo7xbg.css");

body {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.bg-dark {
  background-color: rgba(0,0,0,.8) !important;
}
.bg-light {
  background-color: #f6f7f8 !important;
}
.bg-info {
  background-color: #007ca0 !important;
}
.bg-trans {
  background-color: rgba(0,0,0,0);
}
/* container for showing background images on scroll, add'l js needed */
.show-bg {
  height: 300px;
}
.line-below:after {
  border-bottom: 5px solid rgba(255,255,255,.5);
  content:"";
  display:block;
  padding-top: 1.1rem;
  margin-bottom: 1rem;
  width: 5rem;
}
.navbar-brand img {
  margin-top: -5px;
  width: 200px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: .9rem;
}
.jumbotron {
/*   height: 380px; */
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
  z-index: -2;
}
#homepage-header {
  background: #000 url(https://isadora3.github.io/amnh-scorpions/images/Emperor_Scorpion_Under_UV_Light-contrast.jpg) no-repeat -100px -50px fixed;
  background-size: auto 450px;
  height: 380px;
  z-index: -1;
}
#logo-header {
  max-width: 700px;
}
a:link, a:visited {
  color: #62bacd;
}
a:hover {
  color: #6dcff6;
  text-decoration: none;
}
a:active {
  color: #343a40;
}
:focus, :active, button:focus, button:active {
   outline: none;
   box-shadow: none;
}
.text-info {
  color: #62bacd !important;
}
h1, h2 {
  font-family: "atrament-web", Impact, Tahoma, Helvetica, Arial, sans-serif;
  font-size: 2.9rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.1rem;
}
.center-in-parent {
  /*  add class position-relative to parent  */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#quicklinks img {
  margin: 10px auto;
  transition: all .7s ease;
}
#quicklinks img:hover {
  margin: 0px auto;
}
#reasons-grid ul,  #reasons-grid li{
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
#reasons-grid i.fa {
  font-size: 2.5rem;
  padding: 10px;
}
ul.show-less li p {
  color: black;
  height: 5rem;
  line-height: 1.3rem;
  overflow: hidden;
}
ul.show-less li p.read-more {
  height: 1rem;
  margin: -.8rem 0 0;
  text-align: right;
}
#reasons-grid ul.show-less li a p.read-more:hover {
  color: #6dcff6 !important ;
}
#reasonsModal .modal-footer i.fa {
  font-size: 1rem;
  padding: 2px;
}
.card {
  display: inline;
}
.card-text {
  line-height: 1.3rem;
}
#related-projects div.card {
  border: 0;
  border-top: 9px solid #62bacd;
  box-shadow: 0 2px 4px #dedad6;
}
#related-projects div.card-body {
  background-size: cover;
  height: 15rem;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: all .7s ease;
}
#related-projects div.card-body:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#related-projects .card-title-bg {
  background-color: rgba(0,0,0,.3);
}
#related-projects .card-text::after {
  content: "\f0a9";
  font-family: FontAwesome;
  font-size: .9rem;
  padding-left: 6px;
}
#card-south-african {
  background-image: url(https://isadora3.github.io/amnh-scorpions/images/south-african-arachnid-biodiversity-TypeCatalogueNumberVerification-corrected.jpg);
}
#card-karoo-biogaps {
  background-image: url(https://isadora3.github.io/amnh-scorpions/images/Lorenzo_2BPrendini_2Bdigging_2Bscorpion_2Bburrow.jpg);
}
#card-western-cape {
  background-image: url(https://isadora3.github.io/amnh-scorpions/images/western-cape-contrast.jpg);
}
#card-vaejovidae {
  background-image: url(https://isadora3.github.io/amnh-scorpions/images/Fixing-scorpions.jpg);
}
#card-solifugae {
  background-image: url(https://isadora3.github.io/amnh-scorpions/images/solifugae-G-fumi-in-jar-corrected.jpg);
}
footer {
  background-color: #222;
}
footer a:hover {
  color: white;
}
footer #logo-icon-footer {
  max-width: 90px;
  opacity: .9;
  margin-bottom: 10px;
}
footer #footer-address p {
  color: #bbb;
  font-size: .8rem;
  line-height: 1.5;
  margin-bottom: 7px;
  padding-right: 10px;
}
footer i.fa {
  color: #ccc;
  font-size: 1.2rem;
  padding: 5px 10px 5px 0;
}
footer div#logo-amnh::before {
  border-top: 1px solid #ccc;
  content: "";
  display: block;
  margin: 0 0 15px 5px;
  max-width: 160px;
}
footer div#logo-amnh {
  margin: 0 0 5px -5px;
  padding-top: 15px;
}
footer #logo-amnh-footer {
  max-width: 160px;
  opacity: .9;
  width: 100%;
}
footer #site-map {
  color: #ccc;
  font-size: .9rem;
  line-height: 1.3rem;
  padding-top: 30px;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer #site-map p.page-title {
  color: white;
  font-family: "atrament-web", Impact, Tahoma, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .9rem;
  padding-top: .3rem;
}
footer #site-map ul li {
  margin-bottom: .4rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #homepage-header {
    background-position: 0px -50px;
  }
  .navbar-brand img {
    margin-top: -5px;
    width: 240px;
  }
  #reasonsModal .modal-footer i.fa {
    font-size: 1.5rem;
    padding: 8px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .jumbotron {
/*     height: 500px; */
  }
  #homepage-header {
    background-position: 0px -50px;
    background-size: auto 650px;
    height: 500px;
  }
  #reasons-grid li{
    padding: 30px;
    text-align: center;
  }
  ul.show-less li p.read-more {
    text-align: center;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .jumbotron {
/*     height: 800px; */
  }
  #homepage-header {
    background-position: 100px -130px;
    background-size: auto 1000px;
    height: 800px;
  }
}


/* convert this to bootstrap */

/* header animation */
/* header {
  background-color: rgba(0,0,0,0);
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 1s;
  z-index: 9;
}
header #logo-header {
  float: left;
  padding: 18px 20px;
  width: 240px;
  transition: all 1s;  
}
header nav {
  float: right;
}
header nav li {
  float: left;
  font-size: 14px;
  line-height: 7;
  padding-right: 25px;
  transition: all 1s;
}
header nav a:link {
  color: white;
}
header nav a:visited {
  color: white;
}
header nav a:hover {
  color: #6DCFF6;
}
header nav a:active {
  color: #007ca0;
}
header.header-offset {
  background-color: black;
  height: 50px;
  opacity: .9;
  transition: all 1s;
}
header.header-offset #logo-header {
  margin-top: -18px;
  transition: all 1s;
  width: 200px;
}
header.header-offset nav li {
  font-size: 12px;
  line-height: 4;
  padding-right: 20px;
  transition: all 1s;
} */

#copyright p {
  background-color: black;
  color: #ccc;
  font-size: 12px;
  line-height: 1.8;
  padding: 20px;
  text-align: center;
}
#copyright a:link {
  color: #ccc;
}
#copyright a:visited {
  color: #ccc;
}
#copyright a:hover {
  color: #6DCFF6;
}
#copyright a:active {
  color: #007ca0;
}