/* Styles for AMNH scorpions website */
/* Website visual design and front-end development by Isadora Williams, copyright 2018 */
* {
  box-sizing: border-box;
}
.clearfix::after {
    content:"";
    display:block;
    clear:both;
  }
body {
  font-family: "proxima-nova", sans-serif;
  padding-top: 100px;
}
a {
  text-decoration: none;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}
header {
  background-color: #111;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
}
header #logo-header {
  float: left;
  padding: 18px 20px 15px 15px;
  width: 250px;
  transition: all 1s;
}
header nav {
  float: right;
}
header nav li {
  float: left;
  font-size: 14px;
  line-height: 7;
  padding-right: 25px;
  transition: all 1s;
}
header nav a:link {
  color: white;
}
header nav a:visited {
  color: white;
}
header nav a:hover {
  color: #6DCFF6;
}
header nav a:active {
  color: #007ca0;
}
header.header-offset {
  height: 50px;
  transition: all 1s;
}
header.header-offset #logo-header {
  margin-top: -8px;
  transition: all 1s;
  width: 130px;
}
header.header-offset nav li {
  font-size: 12px;
  line-height: 4;
  padding-right: 20px;
  transition: all 1s;
}
#hero {
  background-color: #111;
  height: 360px;
  text-align: center;
}
#logo-hero {
  height: 180px;
  margin: 50px 0 80px -20px;
  width: 80%;
}
h1, h2 {
  color: #007ca0;
  font-family: 'atrament', sans-serif;
  font-size: 40px;
  margin: 40px 0 15px;
  text-align: center;
}
p {
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 10px;
}
.narrow {
  margin: 0 auto;
  width: 600px;
  max-width: 90%;
}
.medium {
  margin: 20px auto;
  width: 960px;
  max-width: 90%;
}
.line-below {
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.three-col li {
  text-align: center;
  float: left;
  margin: 0 30px;
  width: calc((100% / 3) - 60px);
}
i.fa {
  color: #c9242b;
  font-size: 50px;
  padding: 10px;
}
h3 {
  color: #c9242b;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 7px;
  padding-top: 5px;
  text-transform: uppercase;
}
ul.show-less li p {
  font-size: 14px;
  height:3.9em;
  line-height:1.3em;
  margin-bottom: 20px;
  overflow:hidden;
}
/* js: on hover, the full text of each <li> will appear above the <ul>. */
/* Maybe I need to do this with js. I'm trying to have a "...more" appear after or below the third line. */
/* use js hide/show with a separate <p> for "...more" */
/* or use slideToggle with one button inject html to change toggle text of button to "more" or "less" */
ul.show-less li p::after {
    content:"...more";
}
section.blue {
  background-color: rgba(0, 124, 160, .18);
}
#related-projects {
  padding: 20px;
}
.five-col li {
  text-align: center;
  float: left;
  margin: 0 10px;
  width: calc((100% / 5) - 20px);
}
.wide {
  margin: 20px auto;
  width: 1200px;
  max-width: 90%;
}
div.tile {
  background-color: #fff;
  border-top: 8px solid #007ca0;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  height: 200px;
  margin: 10px 0;
}
h4 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  text-transform: uppercase;
}
h4.tile-title {
  background-color: rgba(0,0,0,.5);
  color: white;
  height: 80px;
  padding: 10px;
  text-align: left;
  width: 100%;
}
/* description with the arrow before */
/* p.tile-description {
  line-height: 1.3;
  padding: 0 5px 0 23px;
  text-align: left;
}
p.tile-description::before {
  content: "\f0a9";
  font-family: FontAwesome;
  font-size: 17px;
  margin-left: -23px;
  padding-right: 8px;
} */
p.tile-description {
  line-height: 1.3;
  padding: 0 5px 0 2px;
  text-align: left;
}
p.tile-description::after {
  color: #c9242b;
  content: "\f0a9";
  font-family: FontAwesome;
  font-size: 17px;
  padding-left: 6px;
}



