/* Styles for AMNH scorpions website */
/* Website visual design and front-end development by Isadora Williams, copyright 2018 */
* {
  box-sizing: border-box;
}
.clearfix::after {
    content:"";
    display:block;
    clear:both;
  }
body {
  font-family: "proxima-nova", sans-serif;
  padding-top: 100px;
}
a {
  text-decoration: none;
}
a:link {
  color: #007ca0;
}
a:visited {
  color: #007ca0;
}
a:hover {
  color: #6DCFF6;
}
a:active {
  color: #c9242b;
}
header {
  background-color: rgba(0,0,0,0);
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 1s;
  z-index: 9;
}
header #logo-header {
  float: left;
  padding: 18px 20px;
  width: 240px;
  transition: all 1s;  
}
header nav {
  float: right;
}
header nav li {
  float: left;
  font-size: 14px;
  line-height: 7;
  padding-right: 25px;
  transition: all 1s;
}
header nav a:link {
  color: white;
}
header nav a:visited {
  color: white;
}
header nav a:hover {
  color: #6DCFF6;
}
header nav a:active {
  color: #007ca0;
}
header.header-offset {
  background-color: black;
  height: 50px;
  opacity: .9;
  transition: all 1s;
}
header.header-offset #logo-header {
  margin-top: -18px;
  transition: all 1s;
  width: 200px;
}
header.header-offset nav li {
  font-size: 12px;
  line-height: 4;
  padding-right: 20px;
  transition: all 1s;
}
main {
  margin-top: -200px;
}
#hero {
  background: url(https://res.cloudinary.com/isadora/image/upload/e_auto_contrast/v1512864623/scorpions/Emperor_Scorpion_Under_UV_Light.jpg) no-repeat fixed;
  background-position: center -230px;
  background-size: cover;
  height: 1000px;
  padding-top: 300px;
  width: 100%;
}
#logo-hero {
  background-color: rgba(0,0,0,.8);
  height: 300px;
  text-align: center;
}
#logo-hero img{
  height: 180px;
  margin: 50px 0 80px -20px;
  width: 80%;
}
h1, h2 {
  color: #007ca0;
  font-family: 'atrament', sans-serif;
  font-size: 48px;
  margin: 40px 0 15px;
  text-align: center;
}
p {
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 10px;
}
.narrow {
  margin: 40px auto;
  width: 600px;
  max-width: 90%;
}
.medium {
  margin: 40px auto;
  width: 960px;
  max-width: 90%;
}
.wide {
  margin: 40px auto;
  width: 1200px;
  max-width: 90%;
}
.line-below::after {
  border-bottom: 3px solid lightgray;
  content:"";
  display:block;
  padding-bottom: 20px;
  margin: 0 auto 20px;
  width: 25%;
}
.line-above::before {
  border-bottom: 3px solid lightgray;
  content:"";
  display:block;
  padding-bottom: 20px;
  margin: 0 auto 20px;
  width: 25%;
}
.three-col li {
  text-align: center;
  float: left;
  margin: 0 30px;
  width: calc((100% / 3) - 60px);
}
i.fa {
  color: #c9242b;
  font-size: 50px;
  padding: 10px;
}
h3 {
  color: #c9242b;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 7px;
  padding-top: 5px;
  text-transform: uppercase;
}
ul.show-less li p {
  font-size: 14px;
  height:3.9em;
  line-height:1.3em;
  margin-bottom: 20px;
  overflow:hidden;
}
/* js: on hover, the full text of each <li> will appear above the <ul>. */
/* Maybe I need to do this with js. I'm trying to have a "...more" appear after or below the third line. */
/* use js hide/show with a separate <p> for "...more" */
/* or use slideToggle with one button inject html to change toggle text of button to "more" or "less" */
ul.show-less li p::after {
    content:"...more";
}
section.shaded {
  background-color: rgba(0,0,0,.04);
}
#related-projects {
  padding: 10px;
}
.five-col li {
  text-align: center;
  float: left;
  margin: 0 10px;
  width: calc((100% / 5) - 20px);
}
div.tile {
  background-color: #fff;
  border-top: 8px solid #007ca0;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  height: 200px;
  margin: 10px 0;
  position: relative;
}
h4 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  text-transform: uppercase;
}
h4.tile-title {
  background-color: rgba(0,0,0,.5);
  color: white;
  height: 57px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  text-align: left;
  width: 100%;
}
/* description with the arrow before */
/* p.tile-description {
  line-height: 1.3;
  padding: 0 5px 0 23px;
  text-align: left;
}
p.tile-description::before {
  content: "\f0a9";
  font-family: FontAwesome;
  font-size: 17px;
  margin-left: -23px;
  padding-right: 8px;
} */
p.tile-description {
  font-size: 15px;
  line-height: 1.3;
  padding: 0 5px 0 2px;
  text-align: left;
}
p.tile-description::after {
  color: #007ca0;
  content: "\f0a9";
  font-family: FontAwesome;
  font-size: 15px;
  line-height: 1.1;
  padding-left: 6px;
}
#tile-south-african {
  background-image: url(https://res.cloudinary.com/isadora/image/upload/v1512657583/south-african-arachnid-biodiversity-60170.Capturing-a-burrowing-scorpion_roky3p.jpg);
  background-size: cover;
}
#tile-karoo-biogaps {
  background-image: url(https://res.cloudinary.com/isadora/image/upload/v1512658065/Lorenzo_2BPrendini_2Bdigging_2Bscorpion_2Bburrow_d3clhk.jpg);
  background-size: cover;
}
#tile-western-cape {
  background-image: url(https://res.cloudinary.com/isadora/image/upload/e_improve/v1512657671/939dd004b48f57133b2a1d6d4cb4e425_e5peeh.jpg);
  background-size: cover;
}
#tile-vaejovidae {
  background-image: url(https://res.cloudinary.com/isadora/image/upload/v1512656215/Fixing-scorpions_ryvw2e.jpg);
  background-size: cover;
}
#tile-solifugae {
  background-image: url(https://res.cloudinary.com/isadora/image/upload/c_crop/v1512656718/solifugae-G-fumi-in-jar-corrected_rqb6dr.jpg);
  background-size: cover;
}
footer {
  background-color: #222;
}
#footer-menu {
  padding: 40px 10px;
  margin: 0 auto;
}
#footer-menu .submenu {
  float: left;
  margin: 0 10px;
  width: calc((100% / 6) - 22px);
}
#footer-menu #connect-footer {
  margin-right: 20px;
  padding-right: 20px;
}
#logo-icon-footer {
  max-width: 90px;
  opacity: .9;
  margin-bottom: 10px;
  padding-top: 18px;
}
#contact-footer p {
  color: #bbb;
  font-size: 13px;
  line-height: 1.5;
  padding-bottom: 4px;
}
footer i.fa {
  color: #ccc;
  font-size: 20px;
  padding: 5px;
}
div#logo-amnh {
  border-top: 1px solid #ccc;
  margin-top: 15px;
  padding-top: 15px;
}
#logo-amnh-footer {
  max-width: 160px;
  opacity: .9;
  width: 100%;
}
#site-map {
  color: #ccc;
  font-size: 14px;
}
#site-map p.page-title {
  color: white;
  font-family: 'atrament', sans-serif;
  font-size: 24px;
  padding: 15px 0 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#footer-menu .submenu li {
  line-height: 1.4;
  padding-bottom: 8px;
}
#copyright p {
  background-color: black;
  color: #ccc;
  font-size: 12px;
  line-height: 1.8;
  padding: 20px;
  text-align: center;
}
#copyright a:link {
  color: #ccc;
}
#copyright a:visited {
  color: #ccc;
}
#copyright a:hover {
  color: #6DCFF6;
}
#copyright a:active {
  color: #007ca0;
}