/* Styles for AMNH scorpions website */
/* Website visual design and front-end development by Isadora Williams, copyright 2018 */

/* Typekit fonts need @import to show up in codepen */
@import url("https://use.typekit.net/upo7xbg.css");

body {
  font-family: "proxima-nova", sans-serif !important;
}
.bg-dark {
  background-color: rgba(0,0,0,.8) !important;
}
.bg-trans {
  background-color: rgba(0,0,0,0);
}
/* .line-below:after {
  border-bottom: 3px solid lightgray;
  content:"";
  display:block;
  padding-top: 1rem;
  margin-bottom: 2rem;
  width: 25%;
} */
.navbar-brand img {
  margin-top: -5px;
  width: 240px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: .9rem;
}
.jumbotron {
  height: 380px;
  margin: 0;
  padding: 0;
  background-color: #000;
  z-index: -2;
}
#homepage-header {
  background: #000 url(https://res.cloudinary.com/isadora/image/upload/e_auto_contrast/v1512864623/scorpions/Emperor_Scorpion_Under_UV_Light.jpg) no-repeat -100px -50px fixed;
  background-size: auto 450px;
  height: 380px;
  z-index: -1;
}
#logo-header {
  max-width: 700px;
}
a:link {
  color: #007ca0;
}
a:visited {
  color: #007ca0;
}
a:hover {
  color: #17a2b8;
  text-decoration: none;
}
a:active {
  color: #c9242b;
}
.text-info {
  color: #007ca0 !important;
}
h1, h2 {
  font-family: 'atrament', sans-serif;
  font-size: 2.7rem;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
.bg-info {
  background-color: #007ca0 !important;
}
#reasons-grid ul,  #reasons-grid li{
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
#reasons-grid i.fa {
  font-size: 2.5rem;
  padding: 10px;
}
ul.show-less li p {
  height: 5rem;
  line-height: 1.3rem;
  overflow: hidden;
}
ul.show-less li p.read-more {
  height: 1rem;
  margin: -.8rem 0 0;
  text-align: right;
}
#related-projects div.card {
  border-top: 8px solid #007ca0;
}
#related-projects div.card-body {
  height: 15rem;
}
#related-projects div.card-title-bg {
  background-color: rgba(0,0,0,.5);
}
.card {
  display: inline;
}
.card-text {
  line-height: 1.3rem;
}
.card-text::after {
  content: "\f0a9";
  font-family: FontAwesome;
  font-size: .9rem;
  padding-left: 6px;
}
#card-south-african {
  background-image: url(https://res.cloudinary.com/isadora/image/upload/v1512657583/south-african-arachnid-biodiversity-60170.Capturing-a-burrowing-scorpion_roky3p.jpg);
  background-size: cover;
}
#card-karoo-biogaps {
  background-image: url(https://res.cloudinary.com/isadora/image/upload/v1512658065/Lorenzo_2BPrendini_2Bdigging_2Bscorpion_2Bburrow_d3clhk.jpg);
  background-size: cover;
}
#card-western-cape {
  background-image: url(https://res.cloudinary.com/isadora/image/upload/e_improve/v1512657671/939dd004b48f57133b2a1d6d4cb4e425_e5peeh.jpg);
  background-size: cover;
}
#card-vaejovidae {
  background-image: url(https://res.cloudinary.com/isadora/image/upload/v1512656215/Fixing-scorpions_ryvw2e.jpg);
  background-size: cover;
}
#card-solifugae {
  background-image: url(https://res.cloudinary.com/isadora/image/upload/c_crop/v1512656718/solifugae-G-fumi-in-jar-corrected_rqb6dr.jpg);
  background-size: cover;
}
footer {
  background-color: #222;
}
footer #footer-contact {
/*   max-width: 160px; */
/*   margin-left: -1px; */
}
footer #logo-icon-footer {
  max-width: 90px;
  opacity: .9;
  margin-bottom: 10px;
/*   padding-top: 18px; */
}
footer #footer-address p {
  color: #bbb;
  font-size: .8rem;
  line-height: 1.5;
  margin-bottom: 7px;
  padding-right: 10px;
}
footer i.fa {
  color: #ccc;
  font-size: 1.2rem;
  padding: 5px 10px 5px 0;
}
footer div#logo-amnh::before {
  border-top: 1px solid #ccc;
  content: "";
  display: block;
  margin: 0 0 15px 5px;
  max-width: 160px;
}
footer div#logo-amnh {
  margin: 0 0 5px -5px;
  padding-top: 15px;
}
footer #logo-amnh-footer {
  max-width: 160px;
  opacity: .9;
  width: 100%;
}
footer #site-map {
  color: #ccc;
  font-size: .9rem;
  line-height: 1.3rem;
  padding-top: 30px;
}
footer ul {
  list-style-type: none;
/*   margin-left: 0; */
  padding-left: 0;
}
footer #site-map p.page-title {
  color: white;
  font-family: 'atrament', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .9rem;
  padding-top: .5rem;
}
footer #site-map ul li {
  margin-bottom: .4rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #homepage-header {
    background-position: 0px -50px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .jumbotron {
    height: 500px;
  }
  #homepage-header {
    background-position: 0px -50px;
    background-size: auto 650px;
    height: 500px;
  }
  #reasons-grid li{
    padding: 30px;
    text-align: center;
  }
  ul.show-less li p.read-more {
    text-align: center;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .jumbotron {
    height: 800px;
  }
  #homepage-header {
    background-position: 100px -130px;
    background-size: auto 1000px;
    height: 800px;
  }
}


/* convert this to bootstrap */

/* header animation */
/* header {
  background-color: rgba(0,0,0,0);
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 1s;
  z-index: 9;
}
header #logo-header {
  float: left;
  padding: 18px 20px;
  width: 240px;
  transition: all 1s;  
}
header nav {
  float: right;
}
header nav li {
  float: left;
  font-size: 14px;
  line-height: 7;
  padding-right: 25px;
  transition: all 1s;
}
header nav a:link {
  color: white;
}
header nav a:visited {
  color: white;
}
header nav a:hover {
  color: #6DCFF6;
}
header nav a:active {
  color: #007ca0;
}
header.header-offset {
  background-color: black;
  height: 50px;
  opacity: .9;
  transition: all 1s;
}
header.header-offset #logo-header {
  margin-top: -18px;
  transition: all 1s;
  width: 200px;
}
header.header-offset nav li {
  font-size: 12px;
  line-height: 4;
  padding-right: 20px;
  transition: all 1s;
} */

#copyright p {
  background-color: black;
  color: #ccc;
  font-size: 12px;
  line-height: 1.8;
  padding: 20px;
  text-align: center;
}
#copyright a:link {
  color: #ccc;
}
#copyright a:visited {
  color: #ccc;
}
#copyright a:hover {
  color: #6DCFF6;
}
#copyright a:active {
  color: #007ca0;
}