<aside>
    <div class="container-fluid bg-light py-5">
        <div class="container" id="related-projects">
            <h2 class="text-info">Related Projects</h2>
            <div class="row d-flex align-items-stretch">
            <div class="col-sm-6 col-md-4 col-xl d-flex flex-wrap mb-4 animate1">
                <div class="card bg-white w-100 animated">
                <a href="http://jrsbiodiversity.org/grant/national-museum-bloemfontein" target="_blank">
                    <div class="card-body d-flex align-items-end px-0 pb-0" id="card-south-african">
                        <div class="card-title-bg px-3 pt-2 w-100">
                        <h5 class="card-title text-white mb-2">South African Arachnid Biodiversity</h5>
                        </div>
                    </div><!-- card.body -->
                    <div class="card-footer bg-white px-3">
                    <p class="card-text">Improvement and Integration of Arachnid Biodiversity Information in South Africa</p>
                    </div>
                </a>
                </div><!-- card -->
            </div><!-- flex-wrap -->
            <div class="col-sm-6 col-md-4 col-xl d-flex flex-wrap mb-4 animate2">
                <div class="card bg-white w-100 animated">
                <a href="http://www.sanbi.org/biogaps" target="_blank">
                    <div class="card-body d-flex align-items-end px-0 pb-0" id="card-karoo-biogaps">
                    <div class="card-title-bg px-3 pt-2 w-100">
                        <h5 class="card-title text-white mb-2">Karoo BioGaps Project</h5>
                    </div>
                    </div>
                    <div class="card-footer bg-white px-3">
                    <p class="card-text">Filling Biodiversity Information Gaps</p>
                    </div>
                </a>
                </div><!-- card -->
            </div><!-- flex-wrap -->
            <div class="col-sm-6 col-md-4 col-xl d-flex flex-wrap mb-4 animate3">
                <div class="card bg-white w-100 animated">
                <a href="http://www.speciesconservation.org/case-studies-projects/black-legged-burrowing-scorpion/2329" target="_blank">
                    <div class="card-body d-flex align-items-end px-0 pb-0" id="card-western-cape">
                    <div class="card-title-bg px-3 pt-2 w-100">
                        <h5 class="card-title text-white mb-2">Western Cape Scorpions</h5>
                    </div>
                    </div>
                    <div class="card-footer bg-white px-3">
                    <p class="card-text">Assessing the Conservation Status of Endangered Scorpions in the Western Cape Province, South Africa</p>
                    </div>
                </a>
                </div><!-- card -->
            </div><!-- flex-wrap -->
            <div class="col-sm-6 col-md-4 col-xl d-flex flex-wrap mb-4 animate4">
                <div class="card bg-white w-100 animated">
                <a href="http://www.vaejovidae.com" target="_blank">
                    <div class="card-body d-flex align-items-end px-0 pb-0" id="card-vaejovidae">
                    <div class="card-title-bg px-3 pt-2 w-100">
                        <h5 class="card-title text-white mb-2">Vaejovidae Project</h5>
                    </div>
                    </div>
                    <div class="card-footer bg-white px-3">
                    <p class="card-text">REVSYS: Systematics of the Scorpion Family Vaejovidae</p>
                    </div>
                </a>
                </div><!-- card -->
            </div><!-- flex-wrap -->
            <div class="col-sm-6 col-md-4 col-xl d-flex flex-wrap mb-4 animate5">
                <div class="card bg-white w-100 animated">
                <a href="http://www.solpugid.com" target="_blank">
                    <div class="card-body d-flex align-items-end px-0 pb-0" id="card-solifugae">
                    <div class="card-title-bg px-3 pt-2 w-100">
                        <h5 class="card-title text-white mb-2">Solifugae Project</h5>
                    </div>
                    </div>
                    <div class="card-footer bg-white px-3">
                    <p class="card-text">Global Survey and Inventory of Solifugae</p>
                    </div>
                </a>
                </div><!-- card -->
            </div><!-- flex-wrap -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- container-fluid -->
</aside>