<aside>
    <div class="container-fluid skew-top bg-white"></div>
    <div class="container-fluid bg-white py-5">
        <div class="container up" id="quicklinks">
            <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row justify-content-center">
                <div class="col-6 col-md-4 p-4 px-lg-5">
                    <a href="#">
                        <img class="w-100 rounded-circle" src="https://isadoracreative.github.io/arachnology-amnh/images/PrendiniLabAugust2015-square.jpg" alt="Prendini Lab Members Outside of AMNH August 2015">
                        <h4 class="text-center pt-3">People</h4>
                    </a>
                </div>
                <div class="col-6 col-md-4 p-4 px-lg-5">
                    <a href="#">
                    <img class="w-100 rounded-circle" src="https://isadoracreative.github.io/arachnology-amnh/images/molecular-lab-photo1-square.jpg" alt="Arachnology Molecular Lab">
                    <h4 class="text-center pt-3">Facilities</h4>
                    </a>
                </div>
                <div class="col-6 col-md-4 p-4 px-lg-5">
                    <a href="#">
                    <img class="w-100 rounded-circle" src="https://isadoracreative.github.io/arachnology-amnh/images/scorpionbottles3-square.jpg" alt="Bottled Collection Scorpions">
                    <h4 class="text-center pt-3">Collections</h4>
                    </a>
                </div>
                <div class="col-6 col-md-4 p-4 px-lg-5">
                    <a href="#">
                    <img class="w-100 rounded-circle" src="https://isadoracreative.github.io/arachnology-amnh/images/DSCN1182-square.jpg" alt="Lorenzo Prendini in the Field">
                    <h4 class="text-center pt-3">Fieldwork</h4>
                    </a>
                </div>
                <div class="col-6 col-md-4 p-4 px-lg-5">
                    <a href="#">
                    <img class="w-100 rounded-circle border border-secondary" src="https://isadoracreative.github.io/arachnology-amnh/images/Scorpion_2-square-shifted.jpg" alt="Scorpion Illustration">
                    <h4 class="text-center pt-3">Publications</h4>
                    </a>
                </div>
                <div class="col-6 col-md-4 p-4 px-lg-5">
                    <a href="#">
                    <img class="w-100 rounded-circle" src="https://isadoracreative.github.io/arachnology-amnh/images/south-african-arachnid-biodiversity-WorkingTogether-square.jpg" alt="Spiderweb with Dewdrops">
                    <h4 class="text-center pt-3">Resources</h4>
                    </a>
                </div>
                </div><!-- row -->
            </div><!-- col-lg-10-->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- container-fluid -->
</aside>