<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="nav-header">
    <a class="navbar-brand" href="index.html" target="_self">
        <img src="https://isadoracreative.github.io/arachnology-amnh/images/logo-ko-no-tagline-sm.png" alt="AMNH Arachnology Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-1" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngFor="let navGlobalLink of navGlobalLinks">
                <a class="nav-link" href="#">{{navGlobalLink.navLink}}</a>
            </li>
            <li class="nav-item ml-2">
                <div class="dropdown">
                    <div class="dropdown-toggle" id="dropdownMenuSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <label>
                            <input class="nav-link text-dark dropdown-toggle" type="text" [(ngModel)]="navGlobalSearch.navSearch" placeholder="Search">
                        </label>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSearch">
                      <a class="dropdown-item nav-link text-secondary" href="#">{{navGlobalSearch.navSearch}}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>