<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="nav-header">
    <a class="navbar-brand" href="index.html" target="_self">
        <img src="https://isadoracreative.github.io/arachnology-amnh/images/logo-ko-no-tagline-sm.png" alt="AMNH Arachnology Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-1" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">{{navLink}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Facilities</a>
        </li>
        <li class="nav-item"> 
            <a class="nav-link" href="#">Collections</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Fieldwork</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Publications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Resources</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
        </ul>
    </div>
</nav>