<article>
    <div class="container-fluid bg-info py-5">
        <div class="container py-3" id="science360-video">
            <div class="row justify-content-center">
            <div class="p-3 col-md-10 col-lg-8 col-xl-6 mb-3">
                <div class="d-inline-block embed-responsive embed-responsive-16by9 animated">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/249256321?title=0&byline=0&portrait=0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-5 ml-xl-2 mt-xl-1">
                <h1 class="text-white line-below">In The Field with Lorenzo Prendini</h1>
                <p class="lead text-white"><em>Fast Draw: In Search of Scorpions </em> joins Lorenzo Prendini as he looks for new species of scorpions and researches their ancestries. He also studies how venomous species might benefit the medical community. Josh Landis and Mitch Butler follow Lorenzo out into the field to study scorpions and talk with him about his experiences through this research.
                </p>
                <p class="text-white">Courtesy of The National Science Foundation <a href="https://science360.gov/obj/video/d49dde11-f6de-42a0-89b1-4959831392fd/fast-draw-search-scorpions" target="_blank"> Science360.</a>
                </p>
            </div>
            </div><!-- row --> 
        </div><!-- container -->
    </div><!-- container-fluid -->
</article>