<app-header-home></app-header-home>
<app-main-content></app-main-content>
<footer>    
    <div class="container-fluid py-5 text-light">
    <div class="container">
        <ul class="row" id="site-map">
            <div class="col-sm-4 col-md">
            <li class="mb-4 pr-4" id="footer-contact">
                <div class="logo">
                <a href="https://isadora3.github.io/amnh-scorpions/index.html" target="_self"><img src="https://isadoracreative.github.io/arachnology-amnh/images/logo-ko-icon-sm.png" alt="AMNH Arachnology Logo" id="logo-icon-footer">
                </a>
                </div>
                <div id="footer-address">
                <a href="https://isadora3.github.io/amnh-scorpions/index.html" target="_self">
                    <p>Arachnology at The American Museum of Natural History</p>
                </a>
<!-- Create Google Maps API (AMNH: 40.7813241,-73.9761769) and open link in new window -->
                <a href="#">
                    <p>Central Park W. at 79th St. New York, NY 10024</p>
                </a>
                <a href="" id="email-prendini">
                    <i class="fa fa-envelope-o"></i>
                </a>
                <a href="tel:+1-212-769-5843">
                    <i class="fa fa-phone"></i>
                </a>
                </div>
                <div id="logo-amnh">
                <a href="https://www.amnh.org/" target="_blank"><img src="https://isadoracreative.github.io/arachnology-amnh/images/logo-amnh-ko.png" alt="AMNH Logo" id="logo-amnh-footer">
                </a>
                </div>
                <div class="social"><!-- add links to pages, anchors on pages and social media -->
                <i class="fa fa-youtube-play"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
                </div>
            </li>
            </div>
            <div class="col-sm-4 col-xl">
            <li class="submenu mb-4">
            <p class="page-title">People</p>
            <ul>
                <li>Curator, Principal Investigator</li>
                <li>Museum Specialists</li>
                <li>Postdoctoral Researchers</li>
                <li>Graduate Students</li>
                <li>Undergraduate Students</li>
                <li>High School Students</li>
                <li>Visiting Students</li>
                <li>Volunteers</li>
                <li>Lab Emeriti</li>
            </ul> 
            </li>
            </div>
            <div class="col-sm-4 col-xl">
            <li class="submenu mb-4">
                <p class="page-title">Facilities</p>
                <ul>
                <li>American Museum of Natural History</li>
                <li>Research Lab</li>
                <li>Additional AMNH Facilities</li>
                </ul>
            </li>
            <li class="submenu mb-4">
                <p class="page-title">Collections</p>
                <ul>
                <li>Overview</li>
                <li>Specimens</li>
                <li>Curation</li>
                <li>Collecting</li>
                <li>Documentation</li>
                <li>Tissue Collection</li>
                <li>Preparing Samples</li>
                </ul>
            </li>
            </div>
            <div class="col-sm-4 col-xl">
            <li class="submenu mb-4">
                <p class="page-title">Fieldwork</p>
                <ul>
                <li>Interactive Map</li>
                <li>List of Locations</li>
                </ul>
            </li>
            <li class="submenu mb-4">
                <p class="page-title">Publications</p>
                <ul>
                <li>View List</li>
                <li>Download List</li>
                </ul>
            </li>
            </div>
            <div class="col-sm-4 col-xl">
            <li class="submenu mb-4">
                <p class="page-title">Resources</p>
                <ul>
                <li>Collaborations</li>
                <li>Societies &amp; Organizations</li>
                <li>Collections &amp; Directories</li>
                <li>Databases</li>
                <li>Software</li>
                <li>Mapping</li>
                <li>Molecular Biology</li>
                </ul>
            </li>
            </div>
            <div class="col-sm-4 col-xl">
            <li class="submenu mb-4">
                <p class="page-title">Contact</p>
                <ul>
                <li>Contact Information</li>
                <li>Contact Form</li>
                </ul>
            </li>
            </div>
        </ul><!-- site-map -->
    </div><!-- .container -->
    </div><!-- .container-fluid -->
    <section id="copyright">
    <!-- add links to Lorenzo and Pío anchors on people page -->
    <!-- add this video to Lorenzo's section of the People page https://www.amnh.org/explore/amnh.tv?SearchText=scorpion&x=26&y=21 -->
    <p class="mb-0">&copy; 2006-2018 <a href="#">Lorenzo Prendini</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Content Revised by <a href="#">Pío Colmenares</a>, December 2017&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Web Design by <a href="http://isadoracreative.com" target="_blank">Isadora Williams</a>
    </p>
    </section>
</footer>
